* {
    box-sizing: border-box;
}

html{
    font-family: Helvetica, sans-serif ;
    font-size: 16;
    line-height: 1.5;
}

body{
    margin: 0;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
    display: inline-flex;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    padding: 30px;
    flex: 100%;
}

.music{
    display: inline;
    flex: 30%;
}

.pain-anxiety{
    display: inline;
    padding-left: 20px;
    flex: 30%;
}

.stree-reliever{
    display: inline;
    padding-left: 20px;
    flex: 30%;
}

.title{
    flex: 30%x;
    display: flex;
    flex-wrap: wrap;
}