@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body{
    font-size: 1.6em;
}

 article{
     background-color: rgb(51, 102, 153);
     border-radius: 1rem;
     color: rgb(255,255,255);
     padding: 25px;
 }

 h1{
     font-family: Georgia, serif;
 }