       * {
             box-sizing: border-box;
         }

         html, body {
            margin: 0;
            width: 100%;
        }
         

         body {
             display: flex;
             background-color: lightgray;
         }

         div{
             background-color: white;
             flex-flow: column wrap;
         }

         .main, .aside, .header, .footer {
             text-transform: uppercase;
         }
         
         main {
            flex-basis: content;
             flex-shrink: inherit;
             border: 1 solid transparent;
             max-width: 70%;
             min-height: 200px;
             border-radius: 15px;
             padding-top: 30px;
             margin: 40px;
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             align-items: stretch;
             order: 2;
             flex-grow: 1;
         }

         aside{
             flex-shrink: inherit;
             max-width: 29%;
             min-height: 200px;
             margin: 40px;
             padding-top: 30px;
             border-radius: 15px;
             display: flex;
             flex-direction: row;
             flex-flow: row-reverse nowrap;
             justify-content: space-between;
             align-items: stretch;
             order: 3;
         }

         header, footer{
             max-width: 200px;
             min-height: 200px;
             flex-grow: initial;
             border-radius: 10px;
             display: flex;
             flex-direction: column;
             margin: 40px;
             min-height: 100px;
             overflow: hidden;
             align-items: stretch;
         }

         header{
             border: transparent;
             align-self: flex-start;
             order: 1;
             flex-basis: 60px
         }

         footer{
             border: transparent;
             padding-top: 30px;
             align-self: flex-end;
             order: 4;
         }

         .main:after, .aside:after {
                flex-basis: max-content;
         }
    