html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin: 15px;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
}

blockquote {
    background-color:  rgb(221,221,221);
    font-style: italic;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(221,221,221);
}

.row1{
    background-color: rgb(221, 221, 221);
    color: rgb(0,0,0);
}

 tbody tr:nth-child(odd) {
    background-color:  rgb(236, 235, 235);
}

blockquote {
    border-left: 5px solid rgb(221, 221, 221);
    padding: 20px;
    width: 100%;
}

.Koko {
      width: 25%;
      float: right;
      display: inline-block;
}

.square {
    list-style-type: square;
}

.disk {
    list-style-type: disc;
}

.circle {
    list-style-type: circle;
}
