@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
   
        
a {
    text-decoration: none;
    border-radius: 50%;
}

ul{
    display: inline-block;
}

li {
    list-style: none;
    display: inline;
    padding: 5px;
}

.fa-facebook-square{
    color: black;
    font-size: 20px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 30px;
}

.fa-twitter{
    color: black;
    font-size: 20px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 30px;
}

.fa-google-plus{
    color: black;
    font-size: 20px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 30px;
}

.fa-linkedin{
    color: black;
    font-size: 20px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 30px;
}

.fa-instagram{
    color: black;
    font-size: 20px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 30px;
}

.fa-facebook-square:hover {
    color: blue;
}

.fa-twitter:hover {
 color: rgb(24, 172, 221);
}

.fa-google-plus:hover{
    color: red;
}

.fa-linkedin:hover{
 color: blue;
}

.fa-instagram:hover{
color: darkblue;
}