* {
    box-sizing: border-box;
}

header{
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

ul{
    list-style: none;
    align-content: center;
}

ul > li {
   display: inline;
   padding: 5px;
   flex-direction: row;
   justify-content: space-between;
   justify-items: end;
}

nav {
    justify-content: flex-end;
    display: flex;
}

.navigation1{
    margin-left: 700px;
}

.site-title{
    text-transform: uppercase;
}

main{
    padding: 50px;
}

header, nav, ul {
    display: flex;
}