body{
    margin: 10px 18px;
}
.content-table{
    border-collapse: collapse;
    border: 1px solid rgb(128, 128, 128);
    border-spacing: 0;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    table-layout: fixed;
    width: 100%;
}

.content-table thead tr{
    border-collapse: collapse;
    background-color: rgb(19, 18, 18);
    color: rgb(225, 225,225);
    text-align: left;
    font-weight: bold;
    top: 9999px;
    left: 9999px;
}

.content-table thead th,
.content-table thead td{
    padding: 12px 15px;
    border: 1px solid rgb(128, 128, 128);
}

.content-table tbody tr{
    border-bottom: 1px solid rgb(128, 128 128);
}

.content-table tbody tr:nth-of-type(even){
    border-bottom: 1px solid rgb(128, 128 128);
}

.content-table tbody tr:nth-of-type(odd){
    background-color: rgb(233, 230, 230);
}


@media only screen and (max-width:600px){
    .content-table, thead, 
     tbody, th, td, tr {
        display: block;
    }

    .content-table thead tr{
        position: absolute;
    }
}